body {
    background-color: #10ECF9;
	font-size: 140%;
}  

table {
	margin: 150px auto;
    background: white;
    color: #666;
    border-spacing: 3px;
}

td, th {
    background-color: #F0F0F0;
    padding: 2px 5px 2px 5px;
}