body {
	background-image: url(../img/bg.png);
}

.button{
   background: linear-gradient(#D0ECF4, #5BC9E1, #D0ECF4);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
   padding: 2px 0 2px 0;
   color: #333;
   border-radius: 8px;
   border: 2px solid #999;
   width: 140px;
   font-weight:bold;
   font-size:120%;
   text-align : center;
   box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.5);
}

#backing {
    background-color: #E6E6FA;
	background: rgba(255,255,255,0.6);
	border-radius: 15px;
	box-shadow: 5px 5px rgba(0,0,0,0.5);
}

#help {
    background-color: #DCDCDC;
	background: rgb(200,200,200);
	box-shadow: 2px 5px rgba(0,0,0,0.2);
	border-radius: 20px;
	border: 2px solid #999;
	padding: 20px 5px 20px 5px;
	color: #2F4F4F;
    font-weight:bold;
}

.text_on_table {
    color: #005000;
    text-align : center;
}

.statistic{
    color: #2F4F4F;
}
