.card_place {
	position: absolute;
	margin-left: 240px;
	width: 500px;
	height: 120px;
}

#dealer_card_place {
	margin-top: 210px;
}

#player_card_place {
	margin-top: 350px;
}

#deck {
	position: absolute;
	margin-left: 580px;
	margin-top: 270px;
}

#backing {
	margin: -120px auto;
	width:768px;
	height:500px;
}

.text_on_table {
 	position: absolute;
}

#player_text {
 	margin-top: 340px;
 	margin-left: 160px;
}

#dealer_text {
    margin-top: 210px;
    margin-left: 160px;
}

#deck_text {
  	margin-left: 603px;
  	margin-top: 390px;
}


#help {
	float:right;
	margin-top: 30px;
	margin-right: 50px;
	width: 550px;
	text-align: center;
}

#main{
	width:850px;
	margin: 30px auto;
}

#table{
	margin-top: -405px;
	margin-left: 75px ;
}

#btns_block{
	margin-left: 210px ;
	margin-top: -12px ;
}


.statistic{
    position: absolute;
    margin-left: 50px;
}

#win{
    margin-top: 490px;
}

#loose{
    margin-top: 530px;
}

#push{
    margin-top: 510px;
}