body {
    background-color: #10ECF9;
}

#help {
    width: 155px;
    height: 30px;
    margin: 0 auto 0 auto;
    color: #F00;
}


#background {
    background-color: #F0F0F0;
    border: 2px solid #BBB;
    width: 220px;
    height: 130px;
    padding: 15px 0 10px 50px;
    margin: 200px auto 10px auto;
    border-radius: 8px;
}

#form {
    margin: 0 0 0 10px;
}

#btn {
    margin: 17px 100px;
}