body {
    background-color: #10ECF9;
}

#ref {
    position:absolute;
    margin: -100px 0 0 300px
}

#main {
    text-align: center;
    color: #F2F2F2;
    margin-top: 120px;
    font-size:200%;
}
